body{    
    background-image: url("../img/8309414.jpg");
    background-size: cover;
    
    background-position: center;
    background-repeat: repeat;


    color: #ff8fb1;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
nav{
    font-size: 30px;
    padding: 40px 0px;
    color: #ff6f9c;
}
h1{
    font-family: 'Pacifico', cursive;
    font-size: 45px;
    color: #ff6f9c;
}
h3{
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    padding-bottom: 10px;
}
#baby-cristimas{
    border-radius: 50%;
    border: 10px solid #ff6f9c;
    padding: 0px;
    width: 450px;
    height: 450px;
    

}
#baby-minie{
    width: 200px;
    height: 200px;
    float: left;
}

a{
    font-family: 'Pacifico', cursive;
    font-size: 45px;
    color: #ff6f9c;
    text-decoration: none;
}
a:hover{
    color: #ffffff;
}






@media (max-width: 991.98px) { 
    body{

        text-align: center;
    }
    #baby-cristimas{
        width: 350px;
        height: 350px;
    }

}



@media (max-width: 767.98px) {

    #baby-cristimas{
        width: 290px;
        height: 290px;
    }

}