body{
    color: #ff8fb1;
    
    font-family: 'Poppins', sans-serif;


     background-image: url("../img/background.png");
    background-size: cover;
    
    background-position: center;
    background-repeat: no-repeat;
}
nav{
    font-size: 30px;
    padding: 40px 0px;
    color: #ff6f9c;
}
h1{
    font-family: 'Pacifico', cursive;
    font-size: 45px;
    color: #ff6f9c;
}
h3{
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    padding-bottom: 10px;
}
Img{
    border-radius: 50%;
    border: 10px solid #ff6f9c;
    padding: 0px;
    width: 600px;
    height: 600px;
    

}
a{
    font-family: 'Pacifico', cursive;
    font-size: 45px;
    color: #ff6f9c;
    text-decoration: none;
}
a:hover{
    color: #ffffff;
}



footer {
  width: 100%;
  height: 30px;
  background: repeating-linear-gradient(
    90deg,
    #ffd966,
    #ffd966 20px,
    #ffb6d5 20px,
    #ffb6d5 40px
  );
}


@media (max-width: 576px) { 
    Img{
        width: 300px;
        height: 300px;
    }
    footer{
        position: fixed;
    }
}
@media (max-width: 767.98px) { 
    Img{
        width: 400px;
        height: 400px;
    }
    footer{
        position: fixed;
    }

}