html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}
body{
    background-image: url("../img/background.png");
    background-size: cover;
    
    background-position: center;
    background-repeat: no-repeat;

    


    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    color: #ff8fb1;
}
nav{
    padding: 30px 0px;
    font-size: 28px;
    color: #ff6f9c;
}

.title{
    padding: 40px 0px 30px 0px;
    color: #ff6f9c;
}


.nome {
font-family: 'Pacifico', cursive;
font-size: 52px;
color: #ff8fb1;
text-shadow: 2px 2px #ffffff;
}


.idade {
font-size: 24px;
color: #ff6f9c;
margin-bottom: 20px;
}


.foto-wrapper {
    width: 350px;
    height: 350px;
    margin: 0 auto 20px;
    border-radius: 50%;
    padding: 6px;
    background: radial-gradient(circle, #ffb6d5, #ff8fb1);
}


.foto-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    background: #fff;
}


.clique {
    padding-bottom: 40px; /* maior que a altura do footer */
    font-family: 'Pacifico', cursive;
    font-size: 52px;
    color: #ff6f9c;
    cursor: pointer;
}
.clique:hover{
    color: #fff;
    font-weight:bold ;
}


footer {
  width: 100%;
  height: 30px;
  background: repeating-linear-gradient(
    90deg,
    #ffd966,
    #ffd966 20px,
    #ffb6d5 20px,
    #ffb6d5 40px
  );
}

/* Apenas telas maiores */
@media (min-width: 768px) {
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
  }
}