body{    
    background-image: url("../img/background.png");
    background-size: cover;
    
    background-position: center;
    background-repeat: no-repeat;


    color: #ff8fb1;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
nav{
    font-size: 30px;
    padding: 40px 0px;
    color: #ff6f9c;
}
h1{
    font-family: 'Pacifico', cursive;
    font-size: 45px;
    color: #ff6f9c;
}
h3{
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    padding-bottom: 10px;
}
Img{
    border-radius: 50%;
    border: 10px solid #ff6f9c;
    padding: 0px;
    width: 450px;
    height: 450px;
    

}
a{
    font-family: 'Pacifico', cursive;
    font-size: 45px;
    color: #ff6f9c;
    text-decoration: none;
}
a:hover{
    color: #ffffff;
}






@media (max-width: 991.98px) { 
    body{
        width: 100%;
        height: auto;
        text-align: center;
    }
    Img{
        width: 350px;
        height: 350px;
    }

}



@media (max-width: 575.98px) {
    body{
        width: 100%;
        height: auto;
        background: radial-gradient(circle, #ffb6d5, #ff8fb1);
        text-align: center;
    }
    Img{
        width: 200px;
        height: 200px;
    }

}